<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Recipe</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyANNuBwaqrVDWe5_E9g0RPCeyGwTuNJlsc&callback=initMap">

    </script>
    <script>
        var rowsInIngred = 1;
        var rowsInDirect = 1;
        var postLat;
        var postLng;

        // jQuery wrapper
        $( document ).ready(function() {


            // toggle sidebar
            $("#toggleSidebar").click(function(){
                $("#sidebar").toggleClass('col-sm-2 d-none');
                $("#body").toggleClass('col-sm-10 col-sm-12');
                $(".alsoHide").toggleClass('hide');
            });

            $("#addIngred").click(function(){
                event.preventDefault();
                rowsInIngred++;
                var newRowString = "";
                newRowString += '<div class="row"><input name="qty'+rowsInIngred+'" type="text" class="form-qty"><select name="units'+rowsInIngred+'" class="form-units"><option value="count">count</option><option value="tsp">tsp</option><option value="tbsp">tbsp</option><option value="cup">cup</option><option value="pint">pint</option><option value="quart">quart</option><option value="gallon">gallon</option><option value="oz">oz</option><option value="fl oz">fl oz</option><option value="pound">pound</option><option value="g">g</option><option value="kg">kg</option><option value="mL">mL</option><option value="L">L</option><option value="dash">dash</option><option value="to taste">to taste</option></select><input name="ingred'+rowsInIngred+'" type="text" class="form-ingred"></div>';
                $(newRowString).insertBefore($("#addIngredRow"));
            });

            $("#addDirect").click(function(){
                event.preventDefault();
                rowsInDirect++;
                var newRowString = "";
                newRowString += '<div class="row"><input name="direct'+rowsInDirect+'" type="text"></div>';
                $(newRowString).insertBefore($("#addDirectRow"));
            });

            // add latLng to POST
            $("#fake-submit").click( function() {
                event.preventDefault();
                console.log(postLat+' '+postLng)
                $('<input type="hidden" name="lat" value="'+postLat+'">').insertBefore('#endForm');
                $('<input type="hidden" name="lng" value="'+postLng+'">').insertBefore('#endForm');
                $('#recipeForm').submit();
            });

        });

        // create map
        function initMap() {
            var spaceNeedle = {lat: 47.6205, lng: -122.3493};
            var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 4,
            center: spaceNeedle,
            mapTypeId: google.maps.MapTypeId.ROADMAP
            });

            // attach click listener that creates a marker, erasing previous marker if necessary
            var marker;
            google.maps.event.addListener(map, 'click', function(event) {
                if (marker != null){
                    marker.setMap(null);
                }
                marker = new google.maps.Marker({
                    position: event.latLng,
                    map: map,
                    draggable: true
                })
                map.setCenter(event.latLng);
                postLat = event.latLng.lat();
                postLng = event.latLng.lng();
                console.log('Lat '+postLat+', Lng '+postLng);

                // recenter map when marker is dragged
                google.maps.event.addListener(marker, 'dragend', function(event){
                    map.setCenter(event.latLng);
                    postLat = event.latLng.lat();
                    postLng = event.latLng.lng();
                    console.log('Lat '+postLat+', Lng '+postLng);
                })
                
                // open infoWindow on mouseover, close again when mouseout
                var infoWindow;
                google.maps.event.addListener(marker, 'mouseover', function(event){
                    infoString = '<div id="content"><p>Latitude: '+event.latLng.lat()+'</p><p>Longitude: '+event.latLng.lng()+'</p></div>'
                    console.log(infoString);
                    infoWindow = new google.maps.InfoWindow({
                        content: infoString
                    })
                    infoWindow.open(map, marker);
                })
                google.maps.event.addListener(marker, 'mouseout', function(event){
                    infoWindow.close()
                })
            });

            
        }  // end of initMap()   
    </script>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
        
        *{
            font-family: Poppins;
        }
        #map{ 
            height: 350px;
        }
        html, body, div{
            margin: 0px !important;
            padding: 0px !important;
            width: 100%;
        }

        .navbar{ 
            height: 5%; 
            margin: 0; 
            width: 100% !important; 
        }
        h1{ 
            font-size: 36px; 
            text-align: center; 
        }
        #sidebar, #body{ 
            padding: 1%; 
        }
        #ham{
            font-size: 25px;
        }

        .green_t{
            color:#217f24;
        }
        .green{
            background-color: #217f24;
        }

        .light_green{
            background-color: #f1f7b6;
        }

        .light_green_t{
            color: #f1f7b6;
        }

        a{
            color: #217f24; 
        }
        ul {
            list-style-type: none;
            margin-top: 5px;
            margin-left: -10px;
        }
        #i{
            color: #217f24;
            margin-right: 5px;
        }
        #nav_bar{
            border-bottom: 2px solid #217f24;
        }
    </style>
</head>
<body>
    <nav id='nav_bar' class="navbar navbar-default navbar-fixed-top light_green">
        <div class="container-fluid">
            <div class="col-lg-1 col-sm-1">
                <button id="toggleSidebar" class="btn light_green"><i id='ham'class="fas fa-bars green_t"></i></button>
                
            </div>
            <div class="col-lg-4 col-sm-1"></div>
            <div class="col-lg-2 col-sm-8"><h1 class="p-2 align-middle green_t">SmörgåsMaps</h1></div>
            <div class="col-lg-5 col-sm-2"></div>
        </div>
    </nav>
    <div class="wrapper " id="wrapper">
        <div class="row">
            <div id="sidebar" class="col-sm-2 border-bottom border-right">
                <ul class="sidebar-nav green_t"> 
                    <li class="list-group-item-action active"><i id='i' class="fas fa-book-open"></i><a href=""> Your Recipes</a></li>
                    <li class="list-group-item-action"><i id='i' class="far fa-star"></i><a href=""> Starred Recipes</a></li>
                    <li class="list-group-item-action"><i id='i' class="fas fa-book"></i><a href=""> Your Cookbooks</a></li>
                        <ul class=''>
                            <li class="list-group-item-action"><i id='i' class="fas fa-book"></i><a href=""> (for loop)</li>
                            <li class="list-group-item-action"><i id='i' class="fas fa-book"></i><a href=""> Book 1</a></li>
                            <li class="list-group-item-action"><i id='i' class="fas fa-book"></i><a href=""> Book 2</a></li>
                            <li class="list-group-item-action"><i id='i' class="fas fa-book"></i><a href=""> Book 2</a></li>
                            <li class="list-group-item-action"><i id='i' class="fas fa-book"></i><a href=""> Book 3</a></li>
                        </ul>
                    </li>
                    <hr>
                    <li class="list-group-item-action"><i id='i' class="fas fa-map-marker-alt"></i><a href=""> Map Search</a></li>
                    <li class="list-group-item-action"><i id='i' class="fas fa-search"></i><a href=""> Name Search</a></li>
                    <li class="list-group-item-action"><i id='i' class="fas fa-users"></i><a href=""> User Search</a></li>
                    <hr>
                    <li class="list-group-item-action"><i id='i' class="fas fa-home"></i><a href=""> Your Profile</a></li>
                    <li class="list-group-item-action"><i id='i' class="fas fa-sign-out-alt"></i><a href=""> Log Out</a></li>
                </ul>
            </div>
            <!-- end of sidebar -->

            

            <!-- body -->
            <div id="body" class="col-sm-10 pl-3">
                <div class="container-fluid">
                <form class='form-group'action="/recipes/create" method="POST" id="recipeForm">
                    {% csrf_token %}
                    <div class='row col-6 p-3' style='background-color: #cddc39; border-radius: 10px; border: 5px solid #4CAF50'>
                    <div class="row">
                        <h2 class='mb-3 mt-3'>Add a new recipe:</h2>    
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <table>
                            <tr>
                            <td>Recipe Name: </td>
                            <td><input class='form-control-sm mb-2' type="text" name="name" placeholder="recipe name"></td>
                            </tr>
                            <tr>
                            </table>
                        </div>
                    </div>
                        <div class="col-4">
                            
                        </div>   
                    </div>   
                    
                    <div class="row">
                        <div class='row mt-4'>
                        </div>
                        <div class='col-5 pl-4 pr-3 border' id="map">
                        </div>
                        <div class='col-6 pl-3 pr-4' id="notes">
                            <textarea name="notes" placeholder="notes" rows=8></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6" id="ingredients">
                            <div class="row">
                                <h2>ingredients</h2>
                            </div>
                            <div class="row">
                                <input name="qty1" type="text" class="form-qty">
                                <select name="units1" class="form-units">
                                    <option value="count">count</option>
                                    <option value="tsp">tsp</option>
                                    <option value="tbsp">tbsp</option>
                                    <option value="cup">cup</option>
                                    <option value="pint">pint</option>
                                    <option value="quart">quart</option>
                                    <option value="gallon">gallon</option>
                                    <option value="oz">oz</option>
                                    <option value="fl oz">fl oz</option>
                                    <option value="pound">pound</option>
                                    <option value="g">g</option>
                                    <option value="kg">kg</option>
                                    <option value="mL">mL</option>
                                    <option value="L">L</option>
                                    <option value="dash">dash</option>
                                    <option value="to taste">to taste</option>
                                </select>
                                <input name="ingred1" type="text" class="form-ingred">
                            </div>
                            <div class="row" id="addIngredRow">
                                <button class="btn btn-primary" id="addIngred">add row</button>
                            </div>
                        </div>
                        <div class="col-6" id="directions">
                            <div class="row">
                                <h2>directions</h2>
                            </div>
                            <div class="row">
                                <input name="direct1" type="text">
                            </div>
                            <div class="row" id="addDirectRow">
                                <button class="btn btn-primary" id="addDirect">add row</button>
                            </div>
                        </div>

                    </div>
                    <div class="row" style="margin-top: 2%;">
                        <button class="btn btn-secondary" id="fake-submit">post data</button>
                    </div>
                    <div id="endForm"></div>
                </form> 
                </div>
            </div>
        </div>


</body>
</html>