<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit Recipe</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyANNuBwaqrVDWe5_E9g0RPCeyGwTuNJlsc&callback=initMap">
    </script>
    <script>
        var rowsInIngred = 1;
        var rowsInDirect = 1;
        var postLat;
        var postLng;
        var marker;

        // jQuery wrapper
        $( document ).ready(function() {

            // toggle sidebar
            $("#toggleSidebar").click(function(){
                $("#sidebar").toggleClass('col-sm-2 d-none');
                $("#body").toggleClass('col-sm-10 col-sm-12');
                $(".alsoHide").toggleClass('hide');
            });


            // add latLng to POST
            $("#fake-submit").click( function() {
                event.preventDefault();
                console.log(postLat+' '+postLng)
                $('<input type="hidden" name="lat" value="'+postLat+'">').insertBefore('#endForm');
                $('<input type="hidden" name="lng" value="'+postLng+'">').insertBefore('#endForm');
                $('#recipeForm').submit();
            });

        });

        // AJAX call to get recipe location
        function getLocation() {
            var id = {{recipeObject.id}}
            $.ajax({
                url: '/recipes/'+id+'/ajax',
                type: 'GET',
                dataType: 'json',
                async: false,
                success: function(data) {
                    console.log('AJAX call successful');
                    thisLat = data['lat'];
                    thisLng = data['lng'];
                    console.log('marker location');
                    console.log(thisLat, thisLng);
                }
            })
        }

        // create map
        function initMap() {
            getLocation();
            var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 4,
            mapTypeId: google.maps.MapTypeId.ROADMAP
            });

            google.maps.event.addListenerOnce(map, 'idle', function() {
                marker = new google.maps.Marker({
                    position: {lat:thisLat,lng:thisLng},
                    map: map
                });
                map.setCenter({lat:thisLat,lng:thisLng});
            });

            // attach click listener that creates a marker, erasing previous marker if necessary
            google.maps.event.addListener(map, 'click', function(event) {
                if (marker != null){
                    marker.setMap(null);
                }
                marker = new google.maps.Marker({
                    position: event.latLng,
                    map: map,
                    draggable: true
                })
                map.setCenter(event.latLng);
                postLat = event.latLng.lat();
                postLng = event.latLng.lng();
                console.log('Lat '+postLat+', Lng '+postLng);

                // recenter map when marker is dragged
                google.maps.event.addListener(marker, 'dragend', function(event){
                    map.setCenter(event.latLng);
                    postLat = event.latLng.lat();
                    postLng = event.latLng.lng();
                    console.log('Lat '+postLat+', Lng '+postLng);
                })
                

            });

            
        }  // end of initMap()



    
    </script>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
        *{
            font-family: Poppins;
        }
        html, body, div{
            margin: 0px !important;
            padding: 0px !important;
            width: 100%;
        }

        .navbar{ 
            height: 5%; 
            margin: 0; 
            width: 100% !important; 
        }
        h1{ 
            font-size: 36px; 
            text-align: center; 
        }
        #sidebar, #body{ 
            padding: 1%; 
        }
        #ham{
            font-size: 25px;
        }

        .orange-t{
            color:#fb8230;
        }
        .red-t{
            color: #bf3521;
        }
        .orange{
            background-color: #fb8230;
        }
        .yellow{
            background-color: #fcae00;
        }
        .red{
            background-color: #bf3521;
        }
        .off_white{
            background-color: #fff2e2;
        }
        a{
            color: #bf3521; 
        }
        ul {
            list-style-type: none;
            margin-top: 5px;
        }
        #i{
            color: #bf3521;
            margin-right: 5px;
        }
        #map{ height: 250px; }
        #input1{
            width: 20%;
            height: 30px;
            margin-bottom: 2px;
            font-size: 10px;
        }
        #input2, .form-ingred{
            width: 60%;
            height: 30px;
            margin-bottom: 2px;
            font-size: 10px;
        }

        #ingredients select{
            width: 60px;
            height: 30px;
            font-size: 10px;
        }
        .form-qty{
            width: 20%;
            margin-bottom: 2px;
        }
        #directions input{
            width: 95%;
            height: 30px;
            font-size: 10px;
            margin-bottom: 2px;
        }

        

    </style>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top off_white shadow">
        <div class="container-fluid">
            <div class="col-lg-1 col-sm-1">
                <button id="toggleSidebar" class="btn off_white"><i id='ham'class="fas fa-bars red-t"></i></button>
            </div>
            <div class="col-lg-4 col-sm-1"></div>
            <div class="col-lg-2 col-sm-8"><h1 class="p-2 align-middle orange-t">SmörgåsMaps</h1></div>
            <div class="col-lg-5 col-sm-2"></div>
        </div>
    </nav>
    <div class="wrapper " id="wrapper" >
        <div class="row">
            <div id="sidebar" class="col-sm-2 border-bottom border-right shadow pt-4" style='background-color: white'>
            <ul class="sidebar-nav green_t"> 
                <li class="list-group-item-action active"><i id='i' class="fas fa-book-open"></i><a href=""> Your Recipes</a></li>
                <li class="list-group-item-action"><i id='i' class="far fa-star"></i><a href=""> Starred Recipes</a></li>
                <li class="list-group-item-action"><i id='i' class="fas fa-book"></i><a href=""> Your Cookbooks</a></li>
                <ul class=''>
                    <li class="list-group-item-action"><i id='i' class="fas fa-book"></i><a href=""> (for loop)</li>
                    <li class="list-group-item-action"><i id='i' class="fas fa-book"></i><a href=""> Book 1</a></li>
                    <li class="list-group-item-action"><i id='i' class="fas fa-book"></i><a href=""> Book 2</a></li>
                    <li class="list-group-item-action"><i id='i' class="fas fa-book"></i><a href=""> Book 2</a></li>
                    <li class="list-group-item-action"><i id='i' class="fas fa-book"></i><a href=""> Book 3</a></li>
                </ul>
            
                <hr>
                <li class="list-group-item-action"><i id='i' class="fas fa-map-marker-alt"></i><a href=""> Map Search</a></li>
                <li class="list-group-item-action"><i id='i' class="fas fa-search"></i><a href=""> Name Search</a></li>
                <li class="list-group-item-action"><i id='i' class="fas fa-users"></i><a href=""> User Search</a></li>
                <hr>
                <li class="list-group-item-action"><i id='i' class="fas fa-home"></i><a href=""> Your Profile</a></li>
                <li class="list-group-item-action"><i id='i' class="fas fa-sign-out-alt"></i><a href=""> Log Out</a></li>
            </ul>
        </div>
            <!-- end of sidebar -->

            <!-- body -->
        <div id="body" class="col-sm-10 p-5">
            <div class='row'>
                <div class='col-2'></div>
            <div class="container-fluid col-8 p-3 orange-t" >   
<!--                 <div class='orange p-4 shadow' style='border-radius: 25px;'>
                    <div class='red p-4 shadow' style='border-radius: 25px;'> -->
                        <div class='p-3 shadow border' style='border-radius: 25px; background-color: white; '>
                            <form class="form-group" action="/recipes/{{id}}" method="POST" id="recipeForm">
                                {% csrf_token %}
                                <div class="row">
                                    <h2 class='display-5 ml-2'>Edit recipe:</h2>    
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <input class='form-control mb-3'type="text" name="name" value="{{ name }}">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class='col-6 pl-4 pr-3 border' id="map" style="border-radius:7px;">
                                        <h2>map</h2>
                                    </div>
                                    <div class='col-6 pl-3 pr-4' id="notes">
                                        <textarea class='form-control h-100 w-100' name="notes" placeholder="{{ notes }}" style="border-radius:7px;"></textarea>
                                    </div>
                                </div>
                                    <div class="row">
                                        <div class="col-6 pt-3" id="ingredients">
                                            <div class="row">
                                                <h3>Ingredients:</h3>
                                            </div>
                                            {% for i in ingredients %}
                                            <div class="row">
                                                <input id='input1'name="qty{{ forloop.counter }}" type="text" class="form-qty" value="{{ i.qty }}">
                                                    <select name="units{{ forloop.counter }}" class="form-units">
                                                        <option value="count" {% if i.units == "count" %}selected{% endif %}>count</option>
                                                        <option value="tsp" {% if i.units == "tsp" %}selected{% endif %}>tsp</option>
                                                        <option value="tbsp" {% if i.units == "tbsp" %}selected{% endif %}>tbsp</option>
                                                        <option value="cup" {% if i.units == "cup" %}selected{% endif %}>cup</option>
                                                        <option value="pint" {% if i.units == "pint" %}selected{% endif %}>pint</option>
                                                        <option value="quart" {% if i.units == "quart" %}selected{% endif %}>quart</option>
                                                        <option value="gallon" {% if i.units == "gallon" %}selected{% endif %}>gallon</option>
                                                        <option value="oz" {% if i.units == "oz" %}selected{% endif %}>oz</option>
                                                        <option value="fl oz" {% if i.units == "fl oz" %}selected{% endif %}>fl oz</option>
                                                        <option value="pound" {% if i.units == "pound" %}selected{% endif %}>pound</option>
                                                        <option value="g" {% if i.units == "g" %}selected{% endif %}>g</option>
                                                        <option value="kg" {% if i.units == "kg" %}selected{% endif %}>kg</option>
                                                        <option value="mL" {% if i.units == "mL" %}selected{% endif %}>mL</option>
                                                        <option value="L" {% if i.units == "L" %}selected{% endif %}>L</option>
                                                        <option value="dash" {% if i.units == "dash" %}selected{% endif %}>dash</option>
                                                        <option value="to taste" {% if i.units == "to taste" %}selected{% endif %}>to taste</option>
                                                    </select>
                                                <input id='input2' name="ingred{{ forloop.counter }}" type="text" class="form-ingred" value="{{i.name}}" >
                                            </div>
                                            {% endfor %}
                                        </div>
                                        <div class="col-6 pl-3 pt-3" id="directions">
                                            <div class="row">
                                                <h3>Directions:</h3>
                                            </div>
                                            {% for s in steps %}
                                            <div class="row">
                                                <input name="direct{{ forloop.counter }}" type="text" value="{{ s }}">
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top: 2%;">
                                        <button class="btn btn-secondary shadow" id="fake-submit">post data</button>
                                    </div>
                                <div id="endForm"></div>
                            </form>
<!--                         </div>
                    </div>  -->  
                </div>
            </div>
            <div class='col-2'></div>
            </div>
        </div>


</body>
</html>