<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Map Search</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyANNuBwaqrVDWe5_E9g0RPCeyGwTuNJlsc&callback=initMap&libraries=geometry">
    </script>
    <script>
        var csrftoken = Cookies.get('csrftoken');
        var markersFromDatabase;
        var map;
        var allMapMarkers = [];
        var marker;
        var searchRadius;

        // set up AJAX to include csrf token in all headers
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        // create new marker, default to hidden
        function placeMarker(location) {
            console.log('creating map marker at '+location['lat']+' '+location['lng'])
            var marker = new google.maps.Marker({
                position: location, 
                map: map,
                visible: false // set to false
            });
            return marker;
        }
        
        // populate list of map markers from database
        function populateMap(){
            console.log('AJAX call to populate map?');
            
            $.ajax({
                url: '/recipes/mapsearch/ajax',
                type: 'GET',
                dataType: 'json',
                success: function(data) {
                    console.log('AJAX call successful');
                    markersFromDatabase = data['markers'];
                    console.log('map markers below');
                    console.log(markersFromDatabase);
                }
            })
        }

        // create map
        function initMap() {
            var spaceNeedle = {lat: 47.6205, lng: -122.3493};
            map = new google.maps.Map(document.getElementById('map'), {
            zoom: 4,
            center: spaceNeedle,
            mapTypeId: google.maps.MapTypeId.ROADMAP
            });

            populateMap();
            // get all markers and add to map
            google.maps.event.addListenerOnce(map, 'idle', function() {
                for (var mkr in markersFromDatabase) {
                    console.log(markersFromDatabase[mkr]);
                    var newMarker = placeMarker({lat:markersFromDatabase[mkr]['latitude'],lng:markersFromDatabase[mkr]['longitude']})
                    allMapMarkers.push(newMarker);
                }
                console.log('allMapMarkers');
                console.log(allMapMarkers);
            });
            

            // attach click listener that creates a marker, erasing previous marker if necessary
            google.maps.event.addListener(map, 'click', function(event) {
                if (marker != null){
                    marker.setMap(null);
                }
                var centerIcon = {
                    url: 'https://lh4.ggpht.com/Tr5sntMif9qOPrKV_UVl7K8A_V3xQDgA7Sw_qweLUFlg76d_vGFA7q1xIKZ6IcmeGqg',
                    scaledSize: new google.maps.Size(65,65)
                }
                marker = new google.maps.Marker({
                    position: event.latLng,
                    map: map,
                    draggable: true,
                    icon: centerIcon
                })
                if (searchRadius != null){
                    searchRadius.setMap(null);
                }
                searchRadius = new google.maps.Circle({
                    map: map,
                    radius: 1000000,
                    center: event.latLng,
                    fillColor: '#777',
                    fillOpacity: 0.1,
                    strokeColor: '#AA0000',
                    strokeOpacity: 0.8,
                    strokeWeight: 2,
                    draggable: false,
                    editable: false
                    })
                map.setCenter(event.latLng);
                checkInRadius();

                // recenter map and radius when marker is dragged
                google.maps.event.addListener(marker, 'dragend', function(event){
                    map.setCenter(event.latLng);
                    searchRadius.setCenter(event.latLng);
                    checkInRadius();
                })

                // check for markers in circle
                function checkInRadius(){
                    var circleBounds = searchRadius.getBounds();
                        console.log(circleBounds);
                        for(var m in allMapMarkers){
                            var isInCircle = circleBounds.contains(allMapMarkers[m].getPosition());
                            if (isInCircle){
                                allMapMarkers[m].setVisible(true);
                            }
                            else {
                                allMapMarkers[m].setVisible(false)
                            };
                        }
                }
                
            });
            
        }  // end of initMap()



    </script>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
        *{
            font-family: Poppins;
        }

        #map{ height: 400px; }

        html, body, div{
            margin: 0px !important;
            padding: 0px !important;
            width: 100%;
        }

        .navbar{ height: 5%; margin: 0; width: 100% !important; }
        h1{ font-size: 36px; text-align: center; }
        #sidebar, #body{ padding: 1%; }

        .orange-t{
            color:#fb8230;
        }
        .red-t{
            color: #bf3521;
        }
        .orange{
            background-color: #fb8230;
        }
        .yellow{
            background-color: #fcae00;
        }
        .red{
            background-color: #bf3521;
        }
        .off_white{
            background-color: #fff2e2;
        }
        a{
            color: #bf3521; 
        }
        ul {
            list-style-type: none;
            margin-top: 5px;
        }
        #i{
            color: #bf3521;
            margin-right: 5px;
        }

    </style>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top off_white">
        <div class="container-fluid">
            <div class="col-lg-1 col-sm-1">
                <button id="toggleSidebar" class="btn off_white"><i class="fas fa-bars red-t"></i></button>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent23" aria-controls="navbarSupportedContent23"
        aria-expanded="false" aria-label="Toggle navigation"><div class="animated-icon3"><span></span><span></span><span></span><span></span></div></button>
            </div>
            <div class="col-lg-4 col-sm-1"></div>
            <div class="col-lg-2 col-sm-8"><h1 class="p-2 align-middle orange-t">SmörgåsMaps</h1></div>
            <div class="col-lg-5 col-sm-2"></div>
        </div>
    </nav>
    <div class="wrapper" id="wrapper">
        <div class="row">
            <div id="sidebar" class="col-sm-2 border-bottom p-0">
                <ul class="sidebar-nav red-t">
                    <li class="list-group-item-action active"><i id='i' class="fas fa-book-open"></i><a href=""> Your Recipes</a></li>
                    <li class="list-group-item-action"><i id='i' class="far fa-star"></i><a href=""> Starred Recipes</a></li>
                    <li class="list-group-item-action"><i id='i' class="fas fa-book"></i><a href=""> Your Cookbooks</a></li>
                        <ul class=''>
                            <li class="list-group-item-action"><i id='i' class="fas fa-book"></i><a href=""> (for loop)</li>
                            <li class="list-group-item-action"><i id='i' class="fas fa-book"></i><a href=""> Book 1</a></li>
                            <li class="list-group-item-action"><i id='i' class="fas fa-book"></i><a href=""> Book 2</a></li>
                            <li class="list-group-item-action"><i id='i' class="fas fa-book"></i><a href=""> Book 2</a></li>
                            <li class="list-group-item-action"><i id='i' class="fas fa-book"></i><a href=""> Book 3</a></li>
                        </ul>
                    </li>
                    <hr>
                    <li class="list-group-item-action"><i id='i' class="fas fa-map-marker-alt"></i><a href=""> Map Search</a></li>
                    <li class="list-group-item-action"><i id='i' class="fas fa-search"></i><a href=""> Name Search</a></li>
                    <li class="list-group-item-action"><i id='i' class="fas fa-users"></i><a href=""> User Search</a></li>
                    <hr>
                    <li class="list-group-item-action"><i id='i' class="fas fa-home"></i><a href=""> Your Profile</a></li>
                    <li class="list-group-item-action"><i id='i' class="fas fa-sign-out-alt"></i><a href=""> Log Out</a></li>
                </ul>
            </div>
            <!-- end of sidebar -->
            <!-- body -->
            <div id="body" class="col-sm-10">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-10">
                            <div id="map"></div>
                        </div>
                        <div class="col-1"></div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</body>
</html>