<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyANNuBwaqrVDWe5_E9g0RPCeyGwTuNJlsc&callback=initMap">
    </script>
    <script>

        // jQuery wrapper
        $( document ).ready(function() {

            // toggle sidebar
            $("#toggleSidebar").click(function(){
                $("#sidebar").toggleClass('col-sm-2 d-none');
                $("#body").toggleClass('col-sm-10 col-sm-12');
                $(".alsoHide").toggleClass('hide');

            });

        });
    
    </script>
    <style>
        .navbar{ height: 5%; background-color: lightgrey; margin: 0; }
        h1{ font-size: 36px; text-align: center; }
        #sidebar, #body{ padding: 1%; }
    </style>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="col-lg-1 col-sm-1">
                <button id="toggleSidebar" class="btn btn-primary">Nav</button>
            </div>
            <div class="col-lg-4 col-sm-1"></div>
            <div class="col-lg-2 col-sm-8"><h1 class="align-middle">Cookr</h1></div>
            <div class="col-lg-5 col-sm-2"></div>
        </div>
    </nav>
    <div class="wrapper" id="wrapper">
        <div class="row">
            <div id="sidebar" class="col-sm-2">
                <ul class="sidebar-nav">
                    <li>Your Recipes</li>
                    <li>Starred Recipes</li>
                    <li>Your Cookbooks
                        <ul>
                            <li>(for loop)</li>
                            <li>Book 1</li>
                            <li>Book 2</li>
                            <li>Book 3</li>
                        </ul>
                    </li>
                    <hr>
                    <li>Map Search</li>
                    <li>Name Search</li>
                    <li>User Search</li>
                    <hr>
                    <li>Your Profile</li>
                    <li>Log Out</li>
                </ul>
            </div>
            <!-- end of sidebar -->

            <!-- body -->
            <div id="body" class="col-sm-10">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-4">
                            <p>left</p>
                        </div>
                        <div class="col-sm-4">
                            <p>mid</p>
                        </div>
                        <div class="col-sm-4">
                            <p>right</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


</body>
</html>