<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <title>Embed Map Test</title>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyANNuBwaqrVDWe5_E9g0RPCeyGwTuNJlsc&callback=initMap&libraries=geometry">
    </script>

    <!-- basic map embed -->
    <!-- <script>
    function initMap() {
        var uluru = {lat: -25.363, lng: 131.044};
        var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 4,
        center: uluru
        });
        var marker = new google.maps.Marker({
        position: uluru,
        map: map
        });
    }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyANNuBwaqrVDWe5_E9g0RPCeyGwTuNJlsc&callback=initMap">
    </script> -->

    <!-- map with pins -->
    <!-- <script>   
        var map;
        function initialize() {
        var myLatlng = new google.maps.LatLng(47.6062,122.3321);
        var myOptions = {
            zoom: 4,
            center: myLatlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

        google.maps.event.addListener(map, 'click', function(event) {
            placeMarker(event.latLng);
        });
        }

        function placeMarker(location) {
        var marker = new google.maps.Marker({
            position: location, 
            map: map
        });

        map.setCenter(location);
        }
        
    </script> 
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyANNuBwaqrVDWe5_E9g0RPCeyGwTuNJlsc&callback=initialize">
    </script> -->


    <!-- workinprogress map code -->
    <script>
        var csrftoken = Cookies.get('csrftoken');
        var markersFromDatabase = {};
        var allMapMarkers = [];
        var lastCircle = [];
        

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });


        // console.log('{{ locations }}')
        // var locData = JSON.parse("{{ locations }}")
        // console.log(locData)



        // send new map marker data to server for storage as Location
        function sendToServer(jsonData){   
            console.log('csrf token '+csrftoken);
            $.ajax({
                url: '/jsonReceiver',
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(jsonData),
                dataType: 'json',
                success: function(result) {
                    alert(result.Result);
                }
            });
            event.preventDefault();
        }


        // populate list of map markers from database
        function populateMap(){
            console.log('AJAX call to populate map?');
            
            $.ajax({
                url: '/populateMap',
                type: 'GET',
                dataType: 'json',
                success: function(data) {
                    console.log('AJAX call successful');
                    markersFromDatabase = data['markers'];
                    console.log('map markers below');
                    console.log(markersFromDatabase);
                }
            })
        }

        function initMap() {
            var spaceNeedle = {lat: 47.6205, lng: -122.3493};
            var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 4,
            center: spaceNeedle,
            mapTypeId: google.maps.MapTypeId.ROADMAP
            });
            // unnecessary Space Needle marker
            // var marker = new google.maps.Marker({
            // position: spaceNeedle,
            // map: map
            // });
            // populateMap() was here


            google.maps.event.addListener(map, 'click', function(event) {
                placeMarker(event.latLng);
                map.setCenter(event.latLng);
                var latitude = event.latLng.lat();
                var longitude = event.latLng.lng();
                console.log('Lat '+latitude+', Lng '+longitude)
                var data = {'lat':latitude,'lng':longitude};
                sendToServer(data);
            });

            populateMap();  // returns markersFromDatabase
            google.maps.event.addListenerOnce(map, 'idle', function() {
                for (var mkr in markersFromDatabase) {
                    console.log('creating map marker at '+markersFromDatabase[mkr]['latitude']+' '+markersFromDatabase[mkr]['longitude'])
                    placeMarker({lat:markersFromDatabase[mkr]['latitude'],lng:markersFromDatabase[mkr]['longitude']})
                }    
            })

            google.maps.event.addListener(map, 'bounds_changed', function() {
                // add bounds check, AJAX to server and filter results
                for (var mkr in markersFromDatabase) {
                    console.log('creating map marker at '+markersFromDatabase[mkr]['latitude']+' '+markersFromDatabase[mkr]['longitude'])
                    placeMarker({lat:markersFromDatabase[mkr]['latitude'],lng:markersFromDatabase[mkr]['longitude']})
                }    
            })

            function placeMarker(location) {
                var marker = new google.maps.Marker({
                    position: location, 
                    map: map 
                });
                google.maps.event.addListener(marker, 'click', function(event){
                    map.setCenter(event.latLng);
                    if(lastCircle[0]){
                        lastCircle[0].setMap(null);
                    }
                    lastCircle = [];
                    lastCircle.push(new google.maps.Circle({
                        map: map,
                        radius: 1000000,
                        center: event.latLng,
                        fillColor: '#777',
                        fillOpacity: 0.1,
                        strokeColor: '#AA0000',
                        strokeOpacity: 0.8,
                        strokeWeight: 2,
                        draggable: false,    // Dragable
                        editable: false      // Resizable
                        })
                    );
                    // test for markers in circle
                    var circleBounds = lastCircle[0].getBounds();
                    console.log(circleBounds);
                    for(var m in allMapMarkers){
                        console.log(allMapMarkers[m].getPosition());
                        var isInCircle = circleBounds.contains(allMapMarkers[m].getPosition());
                        console.log(isInCircle);

                        // marker icon change test code
                        if (isInCircle){
                            console.log('make visible');
                            allMapMarkers[m].setVisible(true);
                        }
                        else {
                            console.log('make hidden');
                            allMapMarkers[m].setVisible(false);
                        }

                        // if (google.maps.geometry.poly.containsLocation(allMapMarkers[m].getPosition(), lastCircle[0])){
                        //     console.log('FOUND MARKER IN CIRCLE');
                        // }
                    }
                });
                allMapMarkers.push(marker);
                // console.log(allMapMarkers);
            }

            
        }  // end of initMap()

        
    </script>


    <style>
        .container{ padding: 2%; }
        #map { width: 100%; height: 400px; background-color: grey; }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <!-- map goes here -->
                <div id="map"></div>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
    
</body>
</html>